<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>HomeControl</servlet-name>
		<display-name>HomeControl</display-name>
		<description></description>
		<servlet-class>com.Control.HomeControl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoadProduct</servlet-name>
		<display-name>LoadProduct</display-name>
		<description></description>
		<servlet-class>com.Control.LoadProduct</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CartControl</servlet-name>
		<display-name>CartControl</display-name>
		<description></description>
		<servlet-class>com.Control.CartControl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InformationControl</servlet-name>
		<display-name>InformationControl</display-name>
		<description></description>
		<servlet-class>com.Control.InformationControl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InformationControl</servlet-name>
		<url-pattern>/information</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HomeControl</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoadProduct</servlet-name>
		<url-pattern>/LoadProduct</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CartControl</servlet-name>
		<url-pattern>/cart</url-pattern>
	</servlet-mapping>
	 <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/vnpayajax/*</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>com.vnpay.common.ajaxServlet</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>LoginControl</servlet-name>
    	<display-name>LoginControl</display-name>
    	<description></description>
    	<servlet-class>com.Control.LoginControl</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>UploadProductControl</servlet-name>
    	<display-name>UploadProductControl</display-name>
    	<description></description>
    	<servlet-class>com.Control.UploadProductControl</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>LoginControl</servlet-name>
    	<url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>UploadProductControl</servlet-name>
    	<url-pattern>/upload</url-pattern>
    </servlet-mapping>
	
	<session-config>
    <session-timeout>1200</session-timeout>
  </session-config>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
 
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
 
    <context-param>
        <param-name>username</param-name>
        <param-value>thienan12359@gmail.com</param-value>
    </context-param>
 
    <context-param>
        <param-name>pass</param-name>
        <param-value>zudxjfufpcljfktx</param-value>
    </context-param>
</web-app>
